[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anthropic = "*"
scikit-learn = "*"

[dev-packages]
pipenv = "*"
debugpy = "*"
ipykernel = "*"
nbstripout = "*"
ipywidgets = "*"
